<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SubnauticaDir>C:\Applications\Steam\steamapps\common\Subnautica</SubnauticaDir>
	<SubnauticaDirAlt>D:\Games\Steam\steamapps\common\Subnautica</SubnauticaDirAlt>
  </PropertyGroup>
</Project>
